{% extends 'production_tracker/base.html' %}

{% block content %}
    <h1>Measurements</h1>
    <table>
        <thead>
            <tr>
                <th>Customer</th>
                <th>Type</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for measurement in measurements %}
                <tr>
                    <td>{{ measurement.customer.name }}</td>
                    <td>{{ measurement.measurement_type }}</td>
                    <td>{{ measurement.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
